* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto";
}

body {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    text-align: center;
    margin-inline: auto;
    position: relative;
  }

  /* topo */
  header {
    position: relative;
    width: 100%;
    top: 0;
    height: 90px;
    display: flex;
    justify-content: space-between;
    background-color: #3fc6ab;
  }

  .header-left {
    position: relative;
    width: 25%;
    min-width: 200px;
    height: auto;
  }

  .logo img {
    width: 60%;
    margin-top: 4%;
    margin-right: 30%;
    height: 60%;
    border-radius:0%;

    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }

  .logo:hover{
    border: none;
    transition: none;
   animation: none;
  }

  .header-right {
    position: relative;
    width: 60%;
    min-width: 700px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
  }

  .header-right ul {
    align-self: center;
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
    gap: 10%;
  }

  .header-right ul li {
    float: left;
    width: auto;
    font-size: 20px;
    list-style: none;
    background-color: transparent;
  }

  .main-content{
    background-color: #cbb26a;
    background-image: linear-gradient(0deg, #e0f6f1 14%, #e0f6f1 71%, #3fc6ab 100%);

  }

  header a:hover {
    /*color: linear-gradient(#8e6f14,#cbb26a,#8e6f14);*/
   color: #ffffff;
   transition: all 1s ease;
   border: #ffffff solid 1px;
   border-top:none;
   border-right:none;
   border-left:none;
   transition: all 5s;
   animation: slide-in 3s ease-out forwards;
  }

/*-------------------TELA PRINCIPAL-----------*/

#TelaPrincipal{
  display: flex;
  flex-direction: row;
  
}

 #textPrincipal{
 /* border: solid blue; */
  width: 8000px;
  height: 700px;
  margin-top: 80px;
 }
 #textPrincipal h1 {
 
  font-family: 'Imbue', serif;
  color: #000000;
  width: auto;
  font-size: 90px;
  text-align: left;
  margin-top: 100px;
  margin-left: 150px;


  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

 }

 .PTelaP{
  margin-top: 30px;
  font-size: 25px;
  margin-left: 150px;
  text-align: left;
  font-family: 'Imbue', serif;
  color: #3fc6ab;
  text-shadow: 0px 1px 0px #000000;



  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

 }

.Pcompartilhar{
  width: 300px;
  margin-top: 25px;
  font-size: 20px;
  margin-left: 150px;
  text-align: left;
  font-family: 'Imbue', serif;
  color: #000000;
  text-shadow: 10px 5px 5px #b5fcd0;
  display: flex;



  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

}

#Bcompartilhar{
 position: relative;
  width: 300px;
  height: 90px;
  font-family: 'Imbue', serif;
  text-align: right;
  padding-right: 15px;
  font-size: 40px;
  margin-top: 50px;
  margin-left: 230px;
  transform: translateY(-50%);
  animation: slide-in 5s ease-out forwards;
  background-color: #84dac8;
  border-radius: 7px;
  display: block;
  left: 500px;
  border: none;
}
@keyframes slide-in {
  from {
    left: -400px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}

#Bcompartilhar img {
  width: 30px;
  height: 30px;
}

#Bcompartilhar:hover {
  cursor: pointer;
  transition: all 3s ease;
  background-color: #3fc6ab;
  border: #000000 solid 1px;
}
  
  #imgprincipal{
    width: 800px;
    height: 700px;
    margin-top: 80px;
    margin-left: 5px;
    margin-right: 150px;

    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }

  a {
    color: white;
    text-decoration: none;
  }

  


  

  #btn-topo {
    display: none;
  }

  /*===============ENCURTADOR====================*/

  #teste {
  width: 100%;
  height: 50px;
  padding-bottom: 200px;
  background-color: #e0f6f1;
  }

#encurtador{
  width: 80%;
  height: 150px;
  margin: auto;
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  border: none;
  border-radius: 7px;
  background-image: url(/QuickBite/logos/bg-header-desktop.svg);
  background-color: #000000;
 /* background-color: #3fc6ab;
opacity: 1;
background-color: #3fc6ab;
opacity: 0.7;
background-color: #3fc6ab;
opacity: 0.8;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #3fc6ab 11px ), repeating-linear-gradient( #ffffff55, #ffffff );*/
}


#link{
  width: 80%;
  height: 55px;
  font-size: 20px;
  padding-left: 20px;
  font-family: 'Imbue', serif;
  border-radius: 4px;
  border: none;
}

#Blink{
  height:50px ;
  width: 8%;
  margin-left: 3%;
  font-size: 23px;
  font-family: 'Imbue', serif;
  border-radius: 4px;
  border: 1px;
  background-color: #ffffff;
}

#Blink:hover {
  color:#3fc6ab;
  transition: 100ms;
  border: solid #000000 1px;
}

.results{
  width: 80%;
  margin-top: 10px;
  margin-left: 10%;
}
.result{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  border-radius: 5px;
  border: #000000 solid;

  color: #3fc6ab;
  background-color: #84dac8 ;
}
.shorted{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.shorted p {
  color:#000000;
  font-family: 'Imbue', serif;
  font-weight: 700;
  font-size: 20px;
}

.shorted button{
  padding: 0.3rem 1rem;
  border-radius: 5px;
  border: 1px solid #000000;
  background: transparent;
  font-family: 'Imbue', serif;
  color: #000000;
  font-size: 25px;
}

.shorted button:hover{
  background-color: #000000;
  transition: all 0.5s ease-in-out;
  color:#3fc6ab
}

#Linkvelho{
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  color: #000000;
  font-size: initial;

  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

}


.popup{
display: none;
position: fixed;
bottom: 1rem;
right: 1rem;
border: #ffffff solid 1px;
background-color: #000000;
padding: 1rem;
border-radius: 5px;
color:#3fc6ab;
transition: all0.2s ease-in-out;
font-style: italic;
z-index: 3;
}

.popup.active{
  display: block;
  transition: all0.2s ease-in-out;
}

/*===============================YOUTUBE+passos================================*/

#passos{
  width: 100%;
  height: 600px;
  border: #000000 solid;
  margin-top: 100px;
  display: flex;
  background-color: #000000;
}

#espaço{
  margin-left:0px;
  width: 40%;
}

#textpassos{
  color: #ffffff;
}

#textpassos h2 {
  font-family: 'Imbue', serif;
  width: auto;
  font-size: 100px;
  text-align: center;
  margin-top: 20px;
  margin-left: 100px;
  position: relative;
}

#textpassos p {
  font-family:'Times New Roman', Times, serif;
  width: auto;
  font-size: 28px;
  text-align: left;
  margin-top: 20px;
  margin-left: 100px;
}
#seta {
  position: relative;
  width: 40%;
  height: 50%;
  transform: translateY(-25%);
  animation: slide-in-R 5s ease-out forwards infinite;
  display: flex;
  margin-left: 80px;




  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

}

@keyframes slide-in-R {
  from {
    right: -400px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: 1;
  }
}

#Lblack{
  border-radius: 100px;
  height: 220px;
  z-index: 2;
  position: absolute;
  margin-left: 82%;
  margin-top: 380px;


  pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

}

#Ayou{
  width: 100%;
  height: 750px;
  align-items: top;
}

  /*========SCROLL==========*/
  ::-webkit-scrollbar {
    width: 10px;
    height: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(
      to bottom,
      #3fc6ab,
      orange);
      border-radius: 50px;
  }

  ::-webkit-scrollbar-track {
    background: #474747;
  }
  
  
/*========FOOTER==========*/
  footer {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.25px;
    background: #222;
    color:#666;
  }

  footer a {
    color: #666;
  }

  footer a:hover {
    color: orange;
    transition: all 1s;
  }

  footer h2, footer .footer-bottom p {
    cursor: default;
    margin: 15px;
  }

  footer h2 {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
  }

  /*-------------------REDES SOCIAIS-----------*/

  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }

  .socials li{
    margin: 0 10px;
  }

  .socials a{
    text-decoration: none; 
  }

  .socials a i{
    font-size: 1.1rem;
    transition: color 1s ease;
    border: solid 1px;
    width: 30px;
    line-height: 30px;
    border-radius: 20px;
  }

  .socials a:hover i{
    color: rgb( 44, 157, 162);
  }

  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;

  }

  .footer-bottom{
    width: 100%;
    padding: 20px 0;
    margin-bottom: 0%;
    text-align: center;
  }

  .footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
   
  .menuR{
    display: none;
  }


  

  
  

/*-------------------RESPONSIVIDADE-----------*/
@media screen and (max-width: 768px) {
  /* topo */
  .menuR{
    display:flex;
  }

  html {

    box-sizing: border-box;
    --bgColorMenu : #1d1d27;
    --duration: .7s;    

}

html *,
html *::before,
html *::after {

    box-sizing: inherit;

}

  

  header {
    position: relative;
    width: 100%;
    top: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: rgb( 44, 157, 162);
    align-items: center;
  }

  .header-right {
    display: none;
  }

  .header-left{
    position: relative;
    width: 10%;
    max-width: 300px;
    height: auto;
  }
  .logo img {
    width: 100%;
    margin-top: 15px;
    margin-left: 30%;
    height: 60%;
    border-radius:0%;
  }


  #textPrincipal{
    width: 350px;
    height: 300px;
    margin-top: 20px;
    position: absolute;
    z-index: 1;
   }
   #textPrincipal h1 {
   
    font-family: 'Imbue', serif;
    /* font-family: 'Alfa Slab One', cursive;
    font-family: bold;
    font-family: 'Sigmar', cursive;*/
    color: #000000;
    width: auto;
    font-size: 55px;
    text-align: left;
    margin-top: 2px;
    margin-left: 10px;
    
   }

   #textPrincipal p{
    margin-top: 20px;
    font-size: 15px;
    margin-left: 10px;
    font-family: 'Imbue', serif;
    color: #000000;
    text-shadow: 0px 1px 5px #b5fcd0;
    text-align: left;
    display: none;
   }
    

  #imgprincipal{
    width: 50%;
    height: 320px;
    margin-top: 10%px;
    margin-left: 50%;
    margin-right: 2%;

    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }



  #Bcompartilhar{
    display: none;
  }
/*========ENCURTA LINK==========*/
#encurtador {
  width: 100%;
  height: 150px;
  margin: auto;
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  border: none;
  border-radius: 7px;
  background-image: url(/QuickBite/logos/bg-header-desktop.svg);
  background-color: #000000;
}

#link {
  width: 70%;
  height: 55px;
  font-size: 20px;
  padding-left: 5px;
  font-family: 'Imbue', serif;
  border-radius: 4px;
  border: none;
}

#Blink {
  height: 50px;
  width: 20%;
  margin-left: 3%;
  font-size: 100%;
  font-family: 'Imbue', serif;
  border-radius: 4px;
  border: 1px;
  background-color: #ffffff;
}

#Linkvelho{
  display:none
}

/*========PASSO A PASSO==========*/
#passos{
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
  
}

#passos iframe{
  width: 100%;
  height: 50%;
  
  
  
}

#textpassos p{
margin-left: 5%;
margin-right: 15%;
width: 80%;
height: 10px;
font-size: 85%;
}
#textpassos h2{
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  height: 50%;
  font-size: 50px;
  text-align: center;
  }

  #Lblack{
    display: none;
  }
  #seta{
    display: none;
  }

 /*========SCROLL==========*/
 ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}


}
/*==========menu Responsivo===========*/

.menuR{

  margin: 0;
  /* Works well with 100% width  */
  width: 100%;
  font-size: 1.5em;
  padding: 0 2.85em;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--bgColorMenu);
  
}

.menu__item{
  
  all: unset;
  flex-grow: 1;
  z-index: 100;
  display: flex;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  align-items: center;
  will-change: transform;
  justify-content: center;
  padding: 0.55em 0 0.85em;
  transition: transform var(--timeOut , var(--duration));
  
}

.menu__item::before{
  
  content: "";
  z-index: -1;
  width: 4.2em;
  height: 4.2em;
  border-radius: 50%;
  position: absolute;
  transform: scale(0);
  transition: background-color var(--duration), transform var(--duration);
  
}


.menu__item.active {

  transform: translate3d(0, -.8em , 0);

}

.menu__item.active::before{
  
  transform: scale(1);
  background-color: var(--bgColorItem);

}

.icon{
  
  width: 2.6em;
  height: 2.6em;
  stroke: white;
  fill: transparent;
  stroke-width: 1pt;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 400;
  
}

.menu__item.active .icon {

  animation: strok 1.5s reverse;
  
}

@keyframes strok {

  100% {

      stroke-dashoffset: 400;

  }

}

.menu__border{

  left: 0;
  bottom: 99%;
  width: 10.9em;
  height: 2.4em;
  position: absolute;
  clip-path: url(#menu);
  will-change: transform;
  background-color: var(--bgColorMenu);
  transition: transform var(--timeOut , var(--duration));
  
}

.svg-container {
  display: flex;

  width: 0;
  height: 0;
}

  .menuR{
      font-size: .8em;
      position: sticky;
      bottom:0 ;
  }
